.active{
    background: #0d4ed8;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #0f172a;
    color:#fff;
    position: relative;
}
nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:20px;
}
nav ul li a{
    padding: 0.3rem 1rem;
    border-radius: 5px;
}
nav ul li a:not(.active):hover{
    background-color: #202f52;
    transition: all ease 0.5s;
}
nav .menu{
    display: none;
    position: absolute;
    right: 2rem;
}








@media (300px <= width <= 800px){
    nav{
        display: flex;
        flex-direction: column;
        align-items: start;
        width: 100%;
    }
    nav ul{
        display: none;
        flex-direction: column;
        align-items: start;
        width: 100%;
        margin-top: 1rem;
    }
    nav ul.open{
        display: flex;
    }
    nav ul.close{
        display: flex;
    }

    nav ul li a {
        width:100%;
        padding: 5px;
    }

    nav .menu{
        display: block;
        font-size: 25px;
        cursor: pointer;
    }
}